# https://github.com/vercel/next.js/tree/canary/examples/cms-sanity#using-the-sanity-cli
# Replace with your Sanity project ID
NEXT_PUBLIC_SANITY_PROJECT_ID=your-project-id

# Replace with your Sanity dataset name (usually 'production' or 'development')
NEXT_PUBLIC_SANITY_DATASET=production

# Optional: Add a read token for private datasets
SANITY_API_READ_TOKEN=